﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebPage2.aspx.cs" Inherits="Soln_ReadOnly_Using_Jquery.WebPage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <span style="align-content:center; height:40px; width:99px; color:blueviolet" >
         Welcome Sir
     </span>
    </div>
    </form>
</body>
</html>
